@import 'vars';
@import 'mixins';

%content-container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    border-top: 1px solid $divider-color;

    h1 {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 25px;

        &:before,
        &:after {
            content: '';
            flex-basis: 10%;
            width: 100%;
            height: 2px;
            margin: 0 10px;
            background-color: $text-color;
        }
    }

    .exp-content,
    .project-content {
        padding: 25px;

        > img {
            width: 100%;
            margin-bottom: 10px;
            background-color: white;
            border-radius: 25px;
        }

        h2 {
            display: flex;
            align-items: center;
            font-size: 1.13rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.7rem;
                vertical-align: text-top;
            }
        }

        p {
            padding-top: 10px;
            border-top: 0.5px solid $divider-color;
        }

        @include for-medium-phone-only {
            padding: 25px 50px;
        }

        @include for-large-phone-only {
            padding: 25px 75px;
        }

        @include for-small-tablet-only {
            padding: 25px 100px;
        }

        @include for-tablet-only {
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 1fr 2fr;
            grid-gap: 30px;
            padding: 25px 5%;

            @include for-laptop-only {
                padding: 25px 15%;
            }

            @include for-larger-devices {
                padding: 25px 25%;
            }
        }
    }

    @include for-tablet-only {
        .exp-content div {
            grid-row: 1;
            grid-column: 2;
        }

        .project-content div {
            grid-row: 1;
            grid-column: 1 / 3;
            padding: 0 20%;
        }
    }
}

.grid-item-experiences {
    @extend %content-container;
    grid-area: experiences;
    background-color: $secondary-color;

    h2 {
        margin-bottom: 10px;
    }
}

.grid-item-projects {
    @extend %content-container;
    grid-area: projects;

    h2 {
        margin-bottom: 10px;

        span {
            align-self: flex-end;
            margin-left: 0.5rem;
            font-size: 1rem;
            font-style: italic;
        }
    }
}