@import 'vars';
@import 'mixins';

$content-padding: 25px;

%content-container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    border-top: 1px solid $divider-color;

    h1 {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 25px;

        &:before,
        &:after {
            content: '';
            flex-basis: 10%;
            width: 100%;
            height: 2px;
            margin: 0 10px;
            background-color: $text-color;
        }
    }

    > div {
        padding: $content-padding;

        h2 {
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            font-size: 1.13rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.7rem;
                vertical-align: text-top;
            }
        }

        a {
            text-decoration: none;
            color: $quaternary-color;

            img {
                display: none;
                width: 0.75rem;
                height: 0.75rem;
                margin-left: 0.5rem;
                vertical-align: middle;
            }

            &:hover img {
                display: inline-block;
                vertical-align: baseline;
            }
        }

        p {
            padding-top: 10px;
            border-top: 0.5px solid $divider-color;
        }

        @include for-medium-phone-only {
            padding: $content-padding 15%;
        }

        @include for-large-phone-only {
            padding: $content-padding 20%;
        }

        @include for-small-tablet-only {
            padding: $content-padding 25%;
        }

        @include for-tablet-only {
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            padding: $content-padding 5%;

            @include for-laptop-only {
                padding: $content-padding 15%;
            }

            @include for-large-laptop-only {
                padding: $content-padding 20%;
            }

            @include for-larger-devices {
                padding: 25px 25%;
            }
        }
    }
}

.grid-item-experiences {
    @extend %content-container;
    grid-area: experiences;
    background-color: $secondary-color;

    .exp-content {
        > img {
            width: 100%;
            margin-bottom: 10px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid $divider-color;
            box-shadow: -5px 5px 5px 0 $box-shadow-color;
        }

        &:nth-of-type(even) > img {
            box-shadow: 5px 5px 5px 0 $box-shadow-color;
        }

        @include for-tablet-only {
            > img {
                margin: auto 0;
            }

            div {
                grid-row: 1;
                grid-column: 2 / 4;
            }

            &:nth-of-type(even) div {
                grid-row: 1;
                grid-column: 1 / 3;
            }
        }
    }
}

.grid-item-projects {
    @extend %content-container;
    grid-area: projects;

    .project-content {
        span {
            align-self: flex-end;
            margin-left: 0.5rem;
            font-size: 1rem;
            font-style: italic;
        }

        p {
            margin-bottom: 10px;
        }

        @include for-tablet-only {
            div {
                grid-row: 1;
                grid-column: 1 / 4;
                padding: 0 15%;
            }
        }
    }
}