@import 'vars';

@mixin text-outline($color) {
    text-shadow: 0 0 3px $color;
    -webkit-font-smoothing: antialiased;
}

@mixin content-item-style($background-color, $color) {
    background-color: $background-color;
    color: $color;

    h2, h3 {
        @if $color == $text-color {
            @include text-outline($text-alt-color);
        } @else {
            @include text-outline($text-color);
        }
    }

    p {
        border-top: 0.5px solid $color;
    }
}

%content-container {
    padding: 25px 0;
    border-top: 1px solid $divider-color;

    h1 {
        text-align: center;

        &:before {
            content: '-\00a0';
        }

        &:after {
            content: '\00a0-';
        }
    }

    div {
        margin-top: 25px;
        padding: 25px;
        border-radius: 10px;

        img {
            width: 100%;
            margin-bottom: 10px;
            background-color: white;
            border-radius: 10px;
        }
    }
}

.grid-item-experiences {
    @extend %content-container;
    grid-area: experiences;

    div {
        text-align: center;

        h2, h3 {
            margin-bottom: 10px;
        }

        h3 {
            font-style: italic;
        }

        p {
            padding-top: 10px;
            text-align: left;
        }
    }

    .loopio-exp {
        @include content-item-style($loopio-color, $text-alt-color);
    }

    .cra-exp {
        @include content-item-style($cra-color, $text-alt-color);
    }

    .drdc-exp {
        @include content-item-style($drdc-color, $text-alt-color);
    }

    .uoft-exp {
        @include content-item-style($uoft-color, $text-alt-color);
    }
}

.grid-item-projects {
    @extend %content-container;
    grid-area: projects;

    h2 {
        margin-bottom: 10px;

        span {
            font-size: 1rem;
            font-style: italic;
        }
    }

    .gih-project {
        @include content-item-style($gih-color, $text-alt-color);
    }

    .fitness-diary-project {
        @include content-item-style($fitness-diary-color, $text-alt-color);
    }
}