@import 'vars';

.footer {
    padding: 40px;
    text-align: center;
    background-color: $tertiary-color;
    color: $text-alt-color;

    p:first-of-type {
        margin-bottom: 10px;
        color: $text-ter-color;
        text-shadow: 0 0 5px black;
    }

    p:nth-of-type(2)::after {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        margin: 25px auto;
        background-color: $primary-color;
    }

    a {
        text-decoration: underline;
        color: $text-alt-color;
    }

    img {
        width: 48px;
        height: 48px;
        margin-bottom: 10px;
    }
}