@import 'vars';
@import 'mixins';

.grid-item-header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    flex-wrap: wrap;

    .profile-picture,
    .profile-info {
        padding: 0 15px;
    }

    .profile-picture {
        h1 {
            padding: 5px 0 25px 0;
            font-family: $font-alt;
            font-size: 2.4rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }

    .profile-info {
        a {
            margin: 0 10px;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        .profile-info__links {
            a {
                display: inline-block;
                width: 120px;
                padding: 5px;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                background-color: $quaternary-color;
                border-radius: 15px;

                img {
                    width: 1.1rem;
                    height: 1.1rem;
                    vertical-align: text-top;

                }
            }
        }

        .profile-info__description {
            width: 300px;
            margin: 25px auto;
        }

        .profile-info__social {
            img {
                width: 32px;
                height: 32px;
                vertical-align: middle;
            }
        }
    }
}
