@import 'mixins';

.grid-item-jumbotron {
    grid-area: jumbotron;
    height: 75vh;
    background: url(../assets/background.jpg) no-repeat center center scroll;
    background-size: cover;

    @include for-small-tablet-and-below {
        height: 30vh;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgba(55, 55, 55, 0.5);

        h3 {
            margin: 50px;
            text-align: center;
            font-size: 1.5rem;
            font-style: italic;
            color: #ffffff;
            text-shadow: 0 0 10px #000000;
        }
    }
}