@import 'colours';

.grid-item-subheader {
    grid-area: subheader;
    text-align: center;

    h1, a {
        font-size: 1.2rem;
    }

    h1, ul, > a:first-of-type {
        margin-bottom: 20px;
    }

    > img {
        width: 30%;
        margin: 0 20px 15px 20px;
        border-radius: 100%;
    }

    > a:first-of-type {
        display: inline-block;
        color: $text-color;
    }

    > a:last-of-type {
        display: inline-block;
        padding: 10px;
        background-color: $tertiary-color;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
    }
}