@import 'colours';

.grid-item-summary {
    grid-area: summary;
    background-color: $secondary-color;

    h3, h4, p {
        font-size: 1.2rem;
        line-height: 35px;
    }

    p {
        color: $text-color-alternate;
    }

    > p {
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 15px;
    }

    div {
        margin-bottom: 30px;

        > h3:first-of-type {
            color: $tertiary-color;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            > h3 {
                color: $tertiary-color;

                &:first-of-type {
                    flex-basis: 60%;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }

                &:last-of-type {
                    flex-basis: 40%;
                    text-align: right;
                }
            }

            > h4 {
                flex-basis: 100%;
                margin: 15px 0;
            }

            > p {
                flex-basis: 100%;
            }
        }
    }
}