@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

$font-main: 'Quicksand', sans-serif;
$font-alt: 'Dancing Script', cursive;

$primary-color: #F5F5F5; //#EBEBEB;
$secondary-color: #eeeeee; // #F5F5F5;
$tertiary-color: #4F5D75;
$quaternary-color: #136494;
$divider-color: #B9B9B9;
$text-color: #000000;
$text-alt-color: #FFFFFF;
$text-ter-color: #E3170A;