@import url('https://fonts.googleapis.com/css?family=Quicksand');

$font-main: 'Quicksand', sans-serif;

$primary-color: #EBEBEB;
$secondary-color: #333333;
$divider-color: #B9B9B9;
$text-color: #000000;
$text-alt-color: #FFFFFF;
$text-ter-color: #E3170A;

$loopio-color: #36BDB5;
$cra-color: #E5001C;
$drdc-color: #105FAA;
$uoft-color: #012152;
