@import url('https://fonts.googleapis.com/css?family=Quicksand');

$font-main: 'Quicksand', sans-serif;

$primary-color: #ebebeb;
$secondary-color: #333333;
$divider-color: #b9b9b9;
$text-color: #000000;
$text-alt-color: #ffffff;
$text-ter-color: #E3170A;