@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-main;
}

html {
    font-size: 16px;
}

html,
body {
    background-color: $primary-color;
    color: $text-color;
}

.container {
    padding: 50px;

    img {
        width: 24px;
        height: 24px;
        vertical-align: sub;
    }

    > ul {
        list-style: none;

        > li {
            display: inline-block;
            margin-right: 30px;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }
}
