@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #e6e5e5;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #171a1c;
}

.content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_pic {
    width: 250px;
    height: 250px;
    border: #b9b8b8 solid 1px;
}

.content_info {
    margin: 0 30px;
}

.content_info > h1,
.content_info > p {
    margin: 0;
}

.content_info > h1 {
    margin-bottom: 10px;
    text-align: center;
    color: #4e873d;
}

.content_links {
    margin-top: 30px;
    text-align: center;
}

.content_links > a {
    margin: 0 15px;
    text-decoration: none;
}

.content_links > a:hover {
    opacity: 0.7;
}
