@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #171a1c;
}

#name {
    text-align: center;
    font-weight: bold;
    color: #4e873d;
}

#me_pic {
    display: block;
    margin: auto;
    width: 20%;
    border: 1px solid #e1e1e1;
}

.header {
    padding-top: 25px;
}

.ruler {
    margin: 25px 50px 0 50px;
    height: 2px;
    background: linear-gradient(to right, #fff, #4e873d, #fff),
                #4e873d; /* backup color */
}

.content_wrapper {
    padding: 25px 0;
}
